.numInput {
	width: 3em;
}

.colorInput {
	width: 9em;
}

h1, h3{
	display:inline;
}

.info {
	float:right;
	margin:0;
}

#hints {
	text-align:center;
}

#hints h3.inner {
	margin-left:4em;
	margin-right:4em;
}

button {
	font-family: "Courier";
	display:block;
	width:10em;
}

label {
	display:block;
}

input {
	font-family: "Courier";
}

body {
	background-color: black;
	color: #d5d5d5;
	font-family: "Courier";
}

.col {
  float: left;
  width: 16.6%;
}

