.numInput {
	background:#d5d5d5;
	border-width:1px;
	border-color:black;
	width: 3em;
	padding-left:2px;
}

.colorInput {
	background:#d5d5d5;
	border-width:1px;
	border-color:black;
	width: 9em;
	padding-left:2px;
}

h1, h3{
	display:inline;
}

.info {
	float:right;
	margin:0;
}

a:link {
  color: #ff3c00;
}

a:visited {
  color: #ff3c00;
}

a:hover {
  color: #a801b6;
}

.hints {
	text-align:center;
}

.hints h3:not(:last-child) {
	margin-right:4em;
}

button {
	font-family: "Courier";
	display:block;
	width:10em;
	margin:auto;
	background:#d5d5d5;
	border-width:1px;
	border-color:black;
}

label {
	display:block;
}

input {
	font-family: "Courier";
}

body {
	background-color: black;
	color: #d5d5d5;
	font-family: "Courier";
}

.center {
	text-align:center;
}

.col {
	float: left;
	width: 16.6%;
}

